@import url('https://fonts.googleapis.com/css2?family=Google+Sans&display=swap');

ins {
  background-color: #B9F6CA;
  border-radius: 4px;
  color: #1B5E20;
  text-decoration: none;
}

del {
  background-color: #FFCDD2;
  border-radius: 4px;
  color: #B71C1C;
  text-decoration: line-through;
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-image: linear-gradient( 178deg,  rgba(201,234,252,0.51) 14.9%, rgba(139,192,216,0.73) 80% );
  background-color: #E3F2FD;
  font-family: 'Google Sans', Arial, sans-serif;
  display: flex;
  align-items: center-top;
  justify-content: space-around;
  height: 100vh;
  margin: 0;
  margin-top: 1rem;
  margin-bottom: 32rem;
}

.container {
  max-width: 800rem;
  width: 90%;
  text-align: center;
}

h1 {
  margin-bottom: 10px;
}

/* Paragraph styles */
/*p {
  margin-bottom: 20px;
} */

#fullscreen-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: transparent;
    border: none;
    padding: 0;
}

#tt-btn {
    position: absolute;
    top: 10px;
    right: 40px;
    background-color: transparent;
    border: none;
    padding: 0;
}

textarea {
  width: 100%;
  height: 18rem;
  border: 1px solid #ccc;
  border-radius: 6px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  padding: 10px;
  margin: 10px 0;
  font-family: 'Google Sans', Arial, sans-serif;
  font-size: 16px;
  resize: vertical;
  background-color: #fff; 
}

textarea:focus {
  outline: none;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
  transform: translateY(1px); 
}

.buttons {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

.buttons button {
  flex: 1;
  height: 40px;
  margin: 0 5px;
  border: none;
  font-family: 'Google Sans', sans-serif;
  font-weight: bold;
  font-size: 16px;
  text-rendering: optimizeLegibility;
  border-radius: 20px;
  background: linear-gradient(to bottom, #3F72AF, #1E5799);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  color: #fff;
  cursor: pointer;
  transition: transform 0.2s, box-shadow 0.2s, background-color 0.2s;
}

.buttons button:hover {
  background-color: #112D4E; 
  transform: translateY(-2px); 
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2); 
}

.buttons button:active {
  transform: translateY(1px); 
}

#output {
  width: 100%;
  max-width: 100%;
  height: 26rem;
  border: 1px solid #ccc;
  border-radius: 6px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  background-color: #fff;
  padding: 10px;
  margin-top: 20px;
  text-align: left;
  font-size: 16px;
  font-family: monospace;
  overflow: auto;
}

.text-container {
  position: relative;
  font-family: 'Google Sans', sans-serif;
}

#text-selector {
  position: absolute;
  top: 0;
  right: 0;
  /*margin-top: 2px;*/
  border-radius: 6px;
}

.text-container label {
  display: block;
  /*margin-bottom: 2px;*/
  text-align: left;
}

#calculator {
  margin-top: 20px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

#calculation-container {
  display: none;
  text-align: center;
}

#calculation-container label {
  display: inline-block;
  width: 150px;
  text-align: right;
}

#calculation-container input[type="number"] {
  display: inline-block;
  width: 80px;
  margin-right: 10px;
}

#calculate-errors {
  display: block;
  margin-top: 10px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  position:relative;
    background-color: #eee;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 8px;
    width: 60%;
    text-align: left;
}

.modal-content h4 {
    margin-bottom: 6px;
}

#timer-input {
    margin-bottom: 10px;
  padding:8px;
  width:100%;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-family: 'Google Sans', Arial, sans-serif;
  font-size: 16px;
  resize: none;
  background-color: #fff;
}
#apply-btn {
  background-color: #112D4E; 
  transform: translateY(-2px); 
    flex: 1;
  height: 30px;
  width:56px;
  margin: 0 5px;
  border: none;
  font-family: 'Google Sans', Arial, sans-serif;
  font-weight: bold;
  font-size: 12px;
  text-rendering: optimizeLegibility;
  border-radius: 20px;
  background: linear-gradient(to bottom, #3F72AF, #1E5799);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  color: #fff; 
  cursor: pointer;
  transition: transform 0.2s, box-shadow 0.2s, background-color 0.2s;
}

input:focus {
  outline: none;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
  transform: translateY(1px); 
}

