@import url('https://fonts.googleapis.com/css2?family=Google+Sans&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Inter:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Platypi:ital,wght@0,300..800;1,300..800&family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

.red {
  background-color: #FBE8E7;
  border-radius: 4px;
  color: #B71C1C;
  font-weight: 500;
}

.orange {
  text-decoration: line-through;
}

.blue {
  background-color: #dbf1ff ;
  border-radius: 4px;
  color: #006db0;
  font-weight: 500;
}

.green {
  color: #3c803c;
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-image: linear-gradient( 178deg,  rgba(201,234,252) 14.9%, rgba(139,192,216,0.73) 80% );
  font-family: 'Google Sans', Arial, sans-serif;
  display: flex;
  align-items: center-top;
  justify-content: space-around;
  height: 100vh;
  margin: 0;
  margin-top: 1rem;
  margin-bottom: 4rem;
  overscroll-behavior-y: contain;
}

.container {
  /*max-width: 800rem;*/
  width: calc(100% - 1.4rem);
  text-align: center;
}

h1 {
  margin-bottom: 10px;
  letter-spacing: 0.6px;
}

.icons{
  position: absolute;
  background-color: transparent;
  border: none;
  top: 0;
  right: 0;
  padding: 0;
}

#fullscreen-btn {
  top: 12px;
  right: 12px;
}

#tt-btn {
  top: 12px;
  right: 42px;
}

#edit-btn {
  position: absolute;
  top:0;
  justify-content: centre;
  left: 94px;
  border: none;
  background-color: transparent;
}

textarea {
  width: 100%;
  height: 20rem;
  border: 1px solid #ccc;
  border-radius: 6px;
  padding: 10px;
  margin: 10px 0;
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 16px;
  letter-spacing: 0.4px;
  resize: vertical;
  background-color: #fff;
}

textarea:focus {
  outline: none;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
  transform: translateY(1px);
}

.buttons {
  margin-top: 10px;
  display: flex;
  justify-content: right;
}

.buttons button {
  flex: 1;
  height: 40px;
  max-width: 220px;
  margin: 0 5px;
  border: none;
  border-radius: 40px 10px 40px 10px;
  font-family: 'Google Sans', sans-serif;
  font-weight: 600;
  font-size: 16px;
  letter-spacing:0.6px;
  text-rendering: optimizeLegibility;
  background: linear-gradient(to bottom, #3F72AF, #1E5799);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  color: #fff;
  cursor: pointer;
  transition: transform 0.2s, box-shadow 0.2s, background-color 0.2s;
}

.buttons button:hover {
  background-color: #112D4E;
  transform: translateY(-2px);
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
}

.buttons button:active {
  transform: translateY(1px);
}

.buttons button#reset {
  max-width: 160px;
}

.output {
  width: 100%;
  max-height: 24rem;
  border: 1px solid #ccc;
  border-radius: 6px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
  background-color: #fff;
  padding: 10px;
  margin-top: 20px;
  text-align: left;
  font-size: 16px;
  font-family: 'Open Sans';
  letter-spacing: 0.4px;
  overflow: auto;
  line-height: 1.6;
}

.text-container {
  position: relative;
  font-family: 'Google Sans', sans-serif;
}

.text-container label {
  position: relative;
  top: 0;
  margin: 0;
  display: block;
  font-size: 18px;
  font-weight:500;
}

.timer {
  display: flex;
}

.l-label {
  display: flex;
  margin-left: auto;
  justify-content: space-between;
}

.r-label {
  position: relative;
  right: 0;
  display: flex;
}

#text-selector {
  border-radius: 6px;
  border: ridge 1px #ddd;
  background-color: #f9f9f9;
}



