ins {
  background-color: #a6f3a6;
  border-radius: 6px;
}

del {
  background-color: #f8cbcb;
  border-radius: 6px;
}

body {
  display: flex;
  align-items: center-top;
  justify-content: space-around;
  height: 100vh;
  margin: 0;
  margin-bottom: 14rem;
}

.container {
  text-align: center;
  max-width: 800rem;
  width: 90%;
  padding: 0.5em;
}

.text-container {
  position: relative;
} 

.text-container label {
  display: block;
  margin-bottom: 5px; 
  text-align: left; 
}

textarea {
  width: 100%;
  height: 20rem;
  text-justify: auto;
  box-sizing: border-box;
  border: 1px solid #999;
  border-radius: 6px;
  padding: 0.8rem;
  font-size: 1em;
  font-family: arial;
  margin: 10px 0;
}

#text-selector {
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 2px; 
  border-radius: 6px;
}

.buttons {
  margin-top: 10px;
}

#output {
  width: 100%;
  max-width: 100%;
  height: 26rem;
  border: 1px solid #999999;
  border-radius: 6px;
  background-color: #f0f0f0;
  padding: 0.8rem;
  margin-top: 20px;
  font-size: 1.5em;
  font-family: monospace;
  overflow: auto;
  box-sizing: border-box;
}

button {
  width: calc(25% - 14px);
  height: 40px;
  border: none;
  border-radius: 16px;
  margin: 0 8px;
}

#reset-btn {
  width: calc(18% - 24px);
  height: 40px;
  border: none;
  border-radius: 16px;
  margin: 0 5px;
}
